[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
pillow = "*"
uuid = "*"
zipfile36 = "*"
requests = "*"
python-dotenv = "*"
flask-cors = "*"

[scripts]
flask = "flask run"

[dev-packages]

[requires]
python_version = "3.8"
